.mainWrap {
  margin-bottom: 16px;
}

.elem {
  width: 320px;
  height: 480px;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  background-image: url(../../../assets/images/Photo.png);
  background-repeat: no-repeat;
  background-size: 110%;
  background-position-x: -25px;
  background-position-y: 160%;
  text-align: left;
  box-sizing: border-box;
  padding-left: 49px;
  overflow: hidden;
}
/* .elem:after,
.elem:before {
  content: '';
  position: absolute;
  width: calc(100% - 4px);
  left: 0px;
  z-index: -1;
  border-color: #1698d9;
  background-color: #f2f2f2;
} */

/* .elem:before {
  height: 9%;
  top: 0px;
  border-style: solid;
  border-width: 4px 0px 0px 4px;
  transform: skew(-45deg);
  transform-origin: left bottom;
} */
/* .elem:after {
  height: calc(91% - 8px);
  bottom: 0px;
  border-style: solid;
  border-width: 0px 4px 4px 4px;
  border-radius: 0px 0px 10px 10px;
  background-image: url(../../assets/images/Photo.png);
  background-repeat: no-repeat;
  background-size: 115%;
  background-position-x: -25px;
  background-position-y: 220%;
} */

/* .active::after,
.active::before,
.active {
  border-color: red;
} */
/* .unavailable::after,
.unavailable::before,
.unavailable {
  border-color: gray;
} */

span {
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 48px;
  line-height: .7;
  margin-top: 16px;
}

.ingredients {
  margin-top: 15px;
  line-height: 1;
  font-size: 24px;
  font-family: 'Trebuchet MS';
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.portions {
  margin-top: 16px;
}
.portions, .gift, .customer {
  font-size: 14px;
  font-family: 'Trebuchet MS';
  color: rgb(102, 102, 102);
  font-weight: bold;
}

.circle {
  width: 80px;
  height: 80px;
  background-color: #1698d9;
  position: absolute;
  bottom: 15px;
  right: 11px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.disabled {
  background-color: #b3b3b3;
}

.active {
  background-color: #d91667;
}

.circleHover {
  background-color: #2ea8e6;
}
.activeHover {
  background-color: #e62e7a;
}

.cont {
  font-size: 42px;
}

.unit {
  font-size: 21px;
}

.cont, .unit {
  font-family: 'Trebuchet MS';
  color: rgb(255, 255, 255);
  line-height: 1;
}

.description {
  color: #fff;
  font-size: 13px;
  margin-top: 16px;
  font-family: 'Trebuchet MS';
  color: rgb(255, 255, 255);
  line-height: 1.231;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.004);
}

.description > span {
  display: inline-block;
  margin: 0;
  padding: 0;
  border-bottom: 1px dashed #1698d9;
  color: #1698d9;
  font-size: 13px;
  cursor: pointer;
}

.accent {
  color: #d1d152;
}

.nameDesc {
  font-size: 16px;
  font-family: 'Trebuchet MS';
  color: rgb(102, 102, 102);
  line-height: 1.2;
}

.nameDescHover {
  color: #e62e7a;
}

.name {
  font-size: 48px;
  font-family: 'Trebuchet MS';
  color: rgb(0, 0, 0);
  font-weight: bold;
}
